.card{
    width: 15rem;
    aspect-ratio: 9/16;
    flex-grow: .3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    @media (max-width:560px) {
        width: 10rem;
    }

    @media (max-width:400px) {
        width: 8rem;
    }
}