.landing{
    height: calc(100% - 64px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-container{
    width: 60%;
    aspect-ratio: 16/9;

    @media (max-width:1024px) {
        width: 80%;
        height: auto;
        aspect-ratio: 3/2;
    }
}